.btn-btn {
  outline: none;
  border: none;
}

.btn--primary {
  padding: 8px 12px;
  background-color: #eef8ff;
  color: #0d019a;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.btn--plain {
  padding: 8px 10px;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "Inter", sans-serif;
}

.btn--success {
  padding: 8px 12px;
  background-color: #f0ffee;
  color: #049a01;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.btn--orange {
  padding: 8px 12px;
  background-color: #fff8f5;
  color: #ff5c00;
  border: 1px solid rgba(255, 92, 0, 0.4);
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
