.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Inter", sans-serif;
}
.nav__links {
  font-weight: 900px;
  margin-left: 20px;
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  color: #242120;
  text-transform: uppercase;
}

.sign__up__btn {
  background-color: #ff5c00;
  padding: 6px 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 900px;
  color: #ffff;
  text-decoration: none;
  margin-left: 20px;
  text-transform: uppercase;
}
